.main-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
    margin-top: 3rem ;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
}

img{
    width: 60%;
}

.my-image{
    background-color: #aed123;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.title{
    font-weight: bolder;
    font-size: medium;
}